*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}

button
{
    outline: none;
    font-size: 1em;
}
/*--------------------*/

.canvas-holder
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

#menu
{
    display: grid;
    grid-template-rows: 1fr, 1fr;
    position: absolute;
    opacity: 50%;
}

#menu:hover
{
    opacity: 100%;
}

#menu.active
{
    width: 100%;
    opacity: 100%;
}

/*----------Menu-Bar----------*/
.menu-bar
{
    grid-row: 1;

    background-color: #DDD;
    height: 2em;
    border: 1px darkgray solid;
}

#menu-toggle
{
    float: left;
    height: 100%;
    padding: 0 .5em 0 .5em;

    background: #DDD;
    border: none;
    border-right: 1px darkgray solid;
}

#menu-toggle:hover
{
    background-color: #FFF;
}

#sub-menu-nav-toggle
{
    float: left;
    height: 100%;
    padding: 0 .5em 0 .5em;

    background-color: #EEE;
    border: none;
    border-right: 1px darkgray solid;
}

#sub-menu-nav-toggle:hover
{
    background-color: #FFF;
}
/*--------------------*/

#sub-menu-holder
{
    grid-row: 2/3;
    min-height: 100px;
    padding: 1em;

    background-color: #EEE;
    border: 1px darkgray solid;
    border-top: none;
}

.sub-menu
{
    display: none;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;

}

#sub-menu-nav
{
    display: none;
    padding: -1em;
}

/*----------Sub-Menu-Toggle----------*/
.sub-menu-toggle
{
    background-color: #DDD;
    border: none;

    text-align: left;
    padding: .5em;
}

.sub-menu-toggle.active
{
    background-color: #EEE;
}

.sub-menu-toggle:hover
{
    background-color: #FFF;
}

/*--------------------*/
.sub-menu label
{
    margin-bottom: .75em;
}

.sub-menu input[type='button']
{
    grid-column: span 6;
    padding: .75em;

    background: #EEE;
    border: 1px darkgray solid;
    font-size: 1em;
    outline: none;
}

.sub-menu input[type='button']:hover
{
    background-color: #FFF;
}

.input-range
{
    grid-column: span 12;
    border: 1px darkgray solid;
    padding: .5em;
}

.input-range input
{
    border: 1px darkgray solid;
    padding: .5em;

    margin-bottom: .75em;
}

.input-range label
{
    display: block
}

.input-range label b
{
    color: #555;
}
 
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .5em;
    background: #CCC;
    outline: none;
  }
    
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: #EEE;
    border: 1px darkgray solid;
    cursor: pointer;
  }

  .slider::-webkit-slider-thumb:hover
  {
      background-color: #FFF;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #EEE;
    border: 1px darkgray solid;
    cursor: pointer;
  }

  .slider::-moz-range-thumb:hover 
  {
    background-color: #FFF;
  }

    @media screen and (min-width: 768px) 
    {
        #menu.active
        {
            width: 50%;
        }

        .sub-menu input[type='button']
        {
            grid-column: span 3;
        }
    }