/*----------Aesthetic-CSS-Variables----------*/
:root
{
    --color-darkest: #CCC;
    --color-dark: #DDD;
    --color-medium: #EEE;
    --color-light: #FFF;

    --color-accent: #A9A9A9;
    --color-text-bold: #555;
}

/*----------FUNCTIONAL-CSS----------*/
*
{
    margin: 0;
    padding: 0;
}

/*----------Canvas-UI-Holder----------*/
.main-content-holder
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

/*----------UI-Holder----------*/
#menu
{
    display: grid;
    grid-template-rows: 1fr, 1fr;
    position: absolute;
}

#menu.active
{
    display: grid;
    width: 100%;
}

/*----------Menu-Bar----------*/
button
{
    outline: none;
    font-size: 1em;
}

.menu-bar
{
    grid-row: 1;
    height: 2em;
}

#menu-toggle
{
    float: left;
    height: 100%;
    padding: 0 .5em 0 .5em;
}

#nav
{
    display: none;
    height: 100%;
}

#nav-prison
{
    display: none;
}

#sub-menu-nav-toggle
{
    float: left;
    height: 100%;
    padding: 0 .5em 0 .5em;
}

/*----------Sub-Menu-Contents----------*/

#sub-menu-holder
{
    display: none;
    grid-row: 2/3;
    min-height: 200px;
    padding: 1em;
}

#sub-menu-holder.active
{
    display: inline;
}

.sub-menu
{
    display: none;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
}

.sub-menu.active
{
    display: grid;
}

#sub-menu-nav
{
    display: none;
    position: absolute;
    float: left;
    margin: -1em;
    width: 100%;
    transform: translateX(-1px);
    z-index: 2;
}

#sub-menu-nav.active
{
    display: grid;
}

.sub-menu-toggle
{
    text-align: left;
    padding: .5em;
}

.sub-menu label:not(.input-checkbox label)
{
    margin-bottom: .75em;
}

/*----------Sub-Menu-Inputs----------*/
.sub-menu input[type='button']
{
    grid-column: span 6;
    padding: .75em;

    font-size: 1em;
    outline: none;
}

.input-range
{
    grid-column: span 12;
    padding: .5em;
}

.input-range input
{
    margin-bottom: .75em;
}

.input-checkbox
{
    grid-column: span 6;
    padding: .75em;
}

.input-range label
{
    display: block
}

/*----------FUNCTION-CSS-RESPONSIVE----------*/
@media screen and (min-width: 768px) 
{
    #menu.active
    {
        width: auto;
        min-width: 50%;
    }

    .sub-menu input[type='button']
    {
        grid-column: span 3;
    }

    .sub-menu .input-checkbox
    {
        grid-column: span 6;
    }
}

/*----------AESTHETIC-CSS----------*/
/*-----Overall-Font-----*/
body
{
    font-family: Arial, Helvetica, sans-serif;
}

/*-----Opacity-Inactive-----*/
#menu
{
    opacity: 50%;
}

/*-----Opacity-Active-Hover-----*/
#menu:hover, #menu.active
{
    opacity: 100%;
}

/*-----Background-Color-Dark-----*/
.menu-bar, #menu-toggle, #sub-menu-nav-toggle, .sub-menu-toggle
{
    background-color: var(--color-dark);
}

/*-----Background-Color-Medium-----*/
#sub-menu-nav-toggle, .sub-menu-toggle.active, #sub-menu-holder
{
    background-color: var(--color-medium);
}

/*-----Background-Color-Light-(Hover)-----*/
#menu-toggle:hover, #sub-menu-nav-toggle:hover, .sub-menu-toggle:hover
{
    background-color: var(--color-light);
}

/*-----Border-Full-----*/
.menu-bar, #sub-menu-holder, .sub-menu-toggle
{
    border: 1px var(--color-accent) solid;
}

/*-----Border-Full-Cancel-----*/
#menu-toggle, #sub-menu-nav-toggle, button
{
    border: none;
}

/*-----Border-Top-Cancel-----*/
#sub-menu-holder, .sub-menu-toggle
{
    border-top: none;
}

/*-----Border-Right-----*/
#menu-toggle, #sub-menu-nav-toggle
{
    border-right: 1px var(--color-accent) solid;
}

/*--------------------*/
/*-----Sub-Menu-Input-----*/

/*-----Background-Color-Medium-----*/
.sub-menu input[type='button']
{
    background-color: var(--color-medium);
}

/*------Background-Color-Light-(Hover)-----*/
.sub-menu input[type='button']:hover
{
    background-color: var(--color-light);
}

/*-----Border-Full-----*/
.sub-menu input[type='button'], .input-range, .input-checkbox
{
    border: 1px var(--color-accent) solid;
}

/*-----Text-Color-Emphasized-----*/
.input-range label span
{
    color: var(--color-text-bold);
    font-weight: bold;
}

/*-----Custom-Slider-----*/
.slider 
{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .5em;
    background: var(--color-darkest);
    outline: none;
}

.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: var(--color-medium);
    border: 1px var(--color-accent) solid;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover
{
    background-color: var(--color-light);
}

.slider::-moz-range-thumb 
{
    width: 25px;
    height: 25px;
    background: var(--color-medium);
    border: 1px var(--color-accent) solid;
    cursor: pointer;
}

.slider::-moz-range-thumb:hover 
{
    background-color: var(--color-light);
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: var(--color-dark);
    border: 1px var(--color-accent) solid;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: var(--color-light);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--color-light);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: .25em;
    top: 0em;
    width: .4em;
    height: .5em;
    border: solid var(--color-text-bold);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

@media screen and (min-width: 768px) 
{
    .sub-menu-toggle
    {
        height: 100%;
        float: left;
        padding: 0 .5em 0 .5em;

        border:none;
        border-right: 1px var(--color-accent) solid;
    }
    .sub-menu-toggle.active
    {
        border-bottom: none;
    }
}