/*----------SPATIAL-CSS----------*/
*
{
    margin: 0;
    padding: 0;
}

body
{
    overflow-x: hidden;
}

/*----------Canvas-UI-Holder----------*/
.main-content-holder
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

/*----------UI-Holder----------*/
#menu
{
    display: grid;
    grid-template-rows: 1fr, 1fr;
    position: absolute;
}

#menu.active
{
    display: grid;
    width: 100%;
}

/*----------Menu-Bar----------*/
button
{
    outline: none;
    font-size: 1em;
}

.menu-bar
{
    grid-row: 1;
    height: 2em;
}

#menu-toggle
{
    float: left;
    height: 100%;
    padding: 0 .5em 0 .5em;
}

#nav
{
    display: none;
    height: 100%;
}

#nav.active
{
    display: inline-block;
}

#nav-prison
{
    display: none;
}

#sub-menu-nav-toggle
{
    float: left;
    height: 100%;
    padding: 0 .5em 0 .5em;
}

/*----------Sub-Menu-Contents----------*/

#sub-menu-holder
{
    position: relative;
    visibility: hidden;
    display: inline;
    grid-row: 2/3;
    min-height: 200px;
    padding: 0;
}

#sub-menu-holder.active
{
    visibility: visible;
}

.sub-menu
{
    position: absolute;
    visibility: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
}

#sub-menu-holder.active .sub-menu.active
{
    visibility: visible;
}

#sub-menu-nav
{
    display: none;
    position: absolute;
    float: left;
    
    width: 100%;
    z-index: 2;
}

#sub-menu-nav.active
{
    display: grid;
}

.sub-menu-toggle
{
    text-align: left;
    padding: .5em;
}

/*----------Sub-Menu-Contents----------*/
.input-button
{
    grid-column: span 6;
}

.input-button input
{
    width: 100%;
    padding: .75em;
    font-size: 1em;
}

.input-checkbox
{
    display: grid;
    grid-column: span 6;
    padding: .75em;
    align-content: center;
}

.input-radio
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1em;
    row-gap: .25em;
    grid-column: span 12;
}

.input-radio p
{
    grid-column: span 12;
    margin-bottom: .5em;
}

.input-radio-option
{
    grid-column: span 12;
    padding: .35em;
    margin-bottom: .5em;
}

.input-range
{
    grid-column: span 12;
    padding: .75em;
}

.input-range input
{
    margin-bottom: .75em;
}

.input-range label
{
    display: block
}

.input-text
{
    display: grid;
    grid-column: span 6;
    padding: .75em;
}

.input-text label
{
    margin-bottom: .25em;
}

.input-text input
{
    box-sizing: border-box;
    width: 100%;
    padding: .25em;
}

.link
{
    grid-column: span 12;
    padding: .75em;
}

/*----------SPATIAL-CSS-RESPONSIVE----------*/
@media screen and (min-width: 768px) 
{
    #menu.active
    {
        width: auto;
        min-width: 50%;
    }

    .input-button
    {
        grid-column: span 3;
    }

    .sub-menu .input-checkbox, .sub-menu .input-radio-option
    {
        grid-column: span 6;
    }
}